<div class="index">

  {{#unless user}}
  {{> header}}
  {{> noconnected}}

 
  {{else}}
  <div class="background-degrade"></div>
    {{> header}}
    {{!-- {{this}} --}}
    <div class="container-secondaire">
      <div class="today-date"><span>{{todayDate}}</span></div>
      <div class="avatar">
        <div class="avatar-baby-pic">
          <img src="{{user.avatar}}" alt="user photo">
        </div>
        <div class="avatar-name">{{user.username}}</div>
      </div>

      <div class="card-view--container">
        <div class="card-view--wrapper">
          {{#each posts}}
          <div class="column daily-card">
            <div class="daily-card__date">
              <div class="daily-card__date--container">
                <span class="numb">{{day}}</span>
                <span class="month">{{month}}</span>
              </div>
            </div>
            <div class="daily-card__edit"><a href="/posts/{{id}}"><i class="fas fa-pen"></i></a></div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="daily-card__edit-other"><a href="/posts/new">éditer une nouvelle</a></div>
    </div>
  </div>
    {{/unless}}
</div>


{{!-- <div class="card-view--container">
  <div class="card-view--wrapper">
    {{#each days}}
    <div class="column daily-card">
      <div class="daily-card__date">
        <div class="daily-card__date--container">
          <span class="numb">{{day}}</span>
          <span class="month">{{month}}</span>
        </div>
      </div>
      <div class="daily-card__edit"><a href="/post/edit">éditer</a></div> 
    </div>
    {{/each}}
  </div>
--}}
________