<div class="index">

  {{#unless user}}
  {{> header}}
  {{> noconnected}}

 
  {{else}}
    {{> header}}
    {{!-- {{this}} --}}
    <div class="container-secondaire">
      <div class="today-date"><span>{{todayDate}}</span></div>
      <div class="card-view--container">
        <div class="card-view--wrapper">
          <div class="column daily-card">
            <div class="daily-card__date">
              <div class="daily-card__date--container">
                <span class="new-card">Editer une nouvelle carte</span>
              </div>
            </div>
            <div class="daily-card__edit"><a href="/posts/new"><i class="fas fa-pen"></i></a></div>
          </div>

          {{#each posts}}
          <div class="column daily-card">
            <img class="daily-card-img" src="{{this.picPath}}" alt="image post">
            <div class="daily-card__date">
              <div class="daily-card__date--container">
                <span class="numb">{{this.day}}</span>
                <span class="month">{{this.month}}</span>
              </div>
            </div>
            <div class="daily-card__edit"><a href="/posts/{{id}}"><i class="fas fa-pen"></i></a></div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
    {{/unless}}
</div>


{{!-- <div class="card-view--container">
  <div class="card-view--wrapper">
    {{#each days}}
    <div class="column daily-card">
      <div class="daily-card__date">
        <div class="daily-card__date--container">
          <span class="numb">{{day}}</span>
          <span class="month">{{month}}</span>
        </div>
      </div>
      <div class="daily-card__edit"><a href="/post/edit">éditer</a></div> 
    </div>
    {{/each}}
  </div>
--}}