<div class="container">


  <div class="avatar">
    <div class="avatar-baby-pic">
      <img src="{{user.avatar}}" alt="user photo">
    </div>
    <div class="avatar-name">{{user.username}}</div>
  </div>


  <ul>
    {{#each posts}}
    <li>
      <p>
        <a href="/posts/{{id}}">{{content}}</a>
      </p>
    </li>
    {{else}}
    no post
    {{/each}}
  </ul>

  {{#unless user}}
  <p>
    <a href="/signup">Signup</a> or <a href="/login">Login</a>
  </p>
  {{else}}
  <p>
    <a href="/posts/new" onclick="openRemoteScreen(e)">New post</a> <a href="/logout">Logout</a>
  </p>
  {{/unless}}
</div>

<div class="card-view--container">
  <div class="card-view--wrapper">
    {{#each days}}
    <div class="column daily-card">
      <div class="daily-card__date">
        <div class="daily-card__date--container">
          <span class="numb">{{day}}</span>
          <span class="month">{{month}}</span>
        </div>
      </div>
      <div class="daily-card__edit"><a href="/post/edit">éditer</a></div>
    </div>
    {{/each}}
  </div>
</div>
</div>