{{#user}}  
<div class="container">
  <h1>Ton profil {{username}}</h1>


  <h2>Ajouter un bb</h2>
  <div class="form form-signup" id="form">
    <form action="/add-baby" method="post" enctype="multipart/form-data">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Nom de l'enfant">
        <span class="icon is-small is-left">
          <i class="fas fa-baby"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
      <button type="submit" class="button button-login is-rounded">Ajouter un enfant</button>
    </form>
  </div>

  <h2>Mise à jour de mes infos</h2>
  <div class="form form-signup" id="form">
    <form action="/update" method="post" enctype="multipart/form-data">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder={{username}}>
        <span class="icon is-small is-left">
          <i class="far fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="email" placeholder={{email}}>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-unlock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>

      <p class="control has-icons-left has-icons-right">
        <input class="input" type="file" name="photo" placeholder={{avatar}}>
        <span class="icon is-small is-left">
          <i class="fas fa-file-upload"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>


      <div class="select select-role">
        <span>Vous êtes:</span>
        <select name="role" id="role" name="role" type="role">
          <option value="parent">Parent</option>
          <option value="nurse">Assistante maternelle</option>
        </select>
      </div>




      {{#if errorMessage}}
      <div class="error-message">{{errorMessage}}</div>
      {{/if}}
      <button type="submit" class="button button-login is-rounded">Créer un compte</button>

    </form>
  </div>
</div>
{{/user}}