{{> header}}
<div class="daily-post section">
   <div class="today-date today-date--post"><span>{{todayDate}}</span></div>
  <article class="daily-post__article">
    <div class="daily-post__article-img">
      <img src="{{post.picPath}}" alt="image article">
    </div>
    <div class="daily-post__slider">
      <span class="daily-post__slider-button"></span>
    </div>
    <h2 class="daily-post__article-title">Note du jour</h2>
    <div class="daily-post__article-text">
      <p class="daily-post__article-text--commentaire">{{post.content}}</p>
    </div>
  </article>
<br>
  <h2 class="daily-post__article-title">Vos échanges</h2>
  <ul>
    {{#each post.comments}}
    <li>
      <img src="{{imagePath}}" alt>
      <div>{{content}}</div>
      <cite>
        -- by {{authorId.username}}
      </cite>
    </li>
    {{/each}}
  </ul>
<br>
  {{#if user}}
  <h2 class="daily-post__article-title">Ajouter un message</h2>
  <form action="/posts/{{post.id}}/comments" method="POST" enctype="multipart/form-data">
    <div class="add-note-textarea-container">
        <textarea name="content" class="add-note-textarea"></textarea>
    
  </div>

    <label>
      Une petite photo ? :
      <input type="file" name="image">
    </label>

      <button type="submit" class="button button-login is-rounded">Ajouter mon commentaire</button>

  </form>
  {{/if}}
</div>